@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.nav-item a {
    font-weight: bold;
}

.navbar .container img{
    width: 300px;
    height: 140px;
}

#instructor img {
    width: 320px;
    height: 320px;
}

/* .lead {
    text-align: justify;
} */

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}